body, html {
    background-image: url(imagesvår/Vår.jpg);
    width: 105%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.container {
    position: absolute;
    animation: moveLeft 5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.container:hover {
    transform: translate(-100px);
}

@keyframes moveLeft {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-1320px);
    }
}

.Hunter{
    position: absolute;
    bottom: 5px;
    left: 90%;
    transform: translateX(-50%);
    animation: walkAndStop 7s ease-in-out forwards;
    pointer-events: none;
}

@keyframes walkAndStop {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-500px);
    }
}






 

