body {
    margin: 0;
    padding: 0;
}

.theBeach {
    height: 100vh;
    position: relative;
}

.sky {
    height: 40%;
    position: absolute;
    background-color: deepskyblue;
    top: 0;
    left: 0;
    right: 0;
}

.sun {
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    background-color: yellow;
    top: 10%;
    left: 10%;
}

.ocean {
    height: 30%;
    position: relative;
    background-color: aqua;
    top: 40%;
    left: 0;
    right: 0;
}

.waves {
    height: 20px;
    width: 100%;
    background-color: aquamarine;
    border-radius: 40%;
    bottom: 30%;
}

.sand {
    height: 30%;
    position: absolute;
    background-color: sandybrown;
    bottom: 0;
    left: 0;
    right: 0;
}

.ball {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
