body {
    margin: 0;
    padding: 0;
}

.theBeach {
    height: 100vh;
    position: relative;
}

.sky {
    height: 40%;
    position: absolute;
    background-color: deepskyblue;
    top: 0;
    left: 0;
    right: 0;
}

.sun {
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    background-color: yellow;
    top: 10%;
    left: 10%;
    animation: sunray 7.3s infinite ease-in-out;
}

@keyframes sunray {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.ocean {
    height: 30%;
    position: relative;
    background-color: aqua;
    top: 40%;
    left: 0;
    right: 0;
}

.waves {
    height: 50px;
    width: 100%;
    position: absolute;
    background-color: aquamarine;
    border-radius: 40%;
    bottom: 50px;
    animation: wave 10s infinite ease-in-out;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}



.sand {
    height: 30%;
    position: absolute;
    background-color: sandybrown;
    bottom: 0;
    left: 0;
    right: 0;
}

.ball {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 150px;
    right: 300px;
}

.sandcastle {
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: 150px;
    right: 800px;
    transition: transform 1.3s ease;
}

.sandcastle:hover {
    transform: scale(1.2);
}

.surfboard {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 20px;
    right: 200px;
}

.sailboat {
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: 575px;
    right: 0;
    animation: sailing 18s linear;
}

@keyframes sailing {
    0% {
        transform: translateX(0);
    }
    100% {
        transform:translateX(-100vw) ;
    }
}

.umbrella {
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 100px;
    left: 30px;
    transition: transform 1s ease;
}

.umbrella:hover {
    transform: scale(1.2);
}

.towel {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 70px;
    left: 200px;
}